html {
    background-image: linear-gradient(to top, rgb(136, 221, 193), rgb(231, 119, 119));
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body {
    width: 70%;
    margin: 0 auto;
    display: flex;
    background-color: white;
    flex-direction: column;

}
h1 {
    text-align: center;
    font-size: 45px;
    color: rgb(190, 8, 8);
}
.eat-burger {
 	font-size: 20px;
 	border-radius: 15px;
 	min-width: 30%;
 	padding: 10px;
 	background-color: rgb(231, 119, 119);

}
.devbtn {
    font-size: 20px;
    border-radius: 15px;
    min-width: 30%;
    padding: 10px;
    background-color: rgb(136, 221, 193)

}
input:invalid:required {
    background-image: linear-gradient(to right, rgb(136, 221, 193), rgb(231, 119, 119));
  }
#burgername {
    width: 400px;
    height: 35px;
    font-size: 20px;
}
.addBtn {
    border-radius: 10px;
    font-size: 30px;
    background-color: rgb(190, 8, 8);
    color: white;

  
}
